<h3>Editing Customized Content</h3>

<%= render 'form', customized_content: @customized_content %>
  <div class="col-sm-12">
        <%= link_to 'Show', @customized_content, class: "btn btn-primary" %> |
        <%= link_to 'Back', customized_contents_path, class: "btn btn-primary" %>
    </div>
