<h1>New Customized Content</h1>

<%= render 'form', customized_content: @customized_content %>
<div class="col-sm-12">
    <%= link_to 'Back', customized_contents_path, class: "btn btn-primary" %>
</div>
