<h3>Editing Patient</h3>

<%= render 'form', patient: @patient %>
<div class="col-sm-12">
  <%= link_to 'Show', @patient, class: "btn btn-primary" %>
  <%= link_to 'Back', patients_path, class: "btn btn-primary" %>
</div>