<h3>New Appointment</h3>

<%= render 'form', appointment: @appointment, class: "btn btn-primary" %>
<div class="col-sm-12">
  <%= link_to 'Back', appointments_path, class: "btn btn-primary" %>
</div>
