<h3>Editing Dentist</h3>

<%= render 'form', dentist: @dentist %>
  <div class="col-sm-12">
    <%= link_to 'Show', @dentist, class: "btn btn-primary" %> |
    <%= link_to 'Back', dentists_path, class: "btn btn-primary" %>
  </div>
